<%= form_with(model: student, local: true) do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="course-card">
    <div class="change-course">
      <span class="float-right">Not Correct? <span class="trigger">Change</span></span>
    </div>
    <div class="course-icon"></div>
    <div class="course-text">
      <h2>Full Stack<br />Python + JavaScript</h2>
      <p>Full-Time, On-Campus</p>
      <span>Powered by Bottega</span>
    </div>
    <div class="course-info">
      <div class="form-row">
        <div class="col-md-6">
          <p>Course Duration</p>
          <span>12 Weeks</span>
        </div>
        <div class="col-md-6">
          <p>Start Date</p>
          <span>August 28, 2018</span>
        </div>
      </div>
    </div>
  </div>

  <div id="course-modal" class="a-cool-modal">
    <div class="content-for-modal">
      <div class="modal-card">
        <h1>Hi Im the modal</h1>
      </div>
      <div class="modal-btn-box">
        <span class="close-n-save">Close & Save</span>
      </div>
    </div>
  </div>

  <div id="new-form-card">
    <div class="form-header"><p>Applicant Information_</p></div>
    <div class="new-student-form-fields">
      <div id="contact-info">
        <div class="form-row">
          <div class="col-md-6 mb-4">
            <p>First Name</p>
            <%= f.text_field :f_name, id: :student_f_name %>
          </div>

          <div class="col-md-6 mb-4">
            <p>Last Name</p>
            <%= f.text_field :l_name, id: :student_l_name %>
          </div>
        </div>

        <div class="mb-4">
          <p>Email</p>
          <%= f.text_field :email, id: :student_email %>
        </div>

        <div class="mb-4">
          <p>Phone #</p>
          <%= f.text_field :phone, id: :student_phone %>
        </div>
      </div>

      <div id="location">
        <div class="mb-4">
          <p>Street Address One</p>
          <%= f.text_field :address_one, id: :student_address_one %>
        </div>

        <div class="mb-4">
          <p>Street Address Two</p>
          <%= f.text_field :address_two, id: :student_address_two, placeholder: 'Apartment #, Suite, etc.' %>
        </div>

        <div class="form-row">
          <div class="col-md-4 mb-4">
            <p>City</p>
            <%= f.text_field :city, id: :student_city %>
          </div>

          <div class="col-md-4 mb-4">
            <p>State</p>
            <%= f.text_field :state, id: :student_state %>
          </div>

          <div class="col-md-4 mb-4">
            <p>Zip Code</p>
            <%= f.text_field :zip, id: :student_zip %>
          </div>
        </div>
      </div>

      <div id="select-fields">
        <div id="date-field-box">
          <div class="date-fields">
            <p>Date of Birth</p>
              <%= f.date_select :dob, 
                                    id: :student_dob, 
                                    start_year: Date.today.year - 70, 
                                    end_year: Date.today.year - 17, 
                                    order: [:month, :day, :year],
                                    include_blank: true %>
          </div>
        </div>

        <div class="form-row mb-4">
          <div class="col-md-6">
            <p>Gender</p>
            <%= f.select(:gender, options_for_select([['Female', 'Female'],
                                                          ['Male', 'Male'],
                                                          ['I dont wish to share', 'N/A']]), { include_blank: true }) %>
          </div>

          <div class="col-md-6">
            <p>Military Service</p>
            <%= f.select(:military_status, options_for_select([['Active Duty', 'Active'],
                                                                  ['Veteran', 'Veteran'],
                                                                  ['Active Reserve', 'Active Reserve'],
                                                                  ['Inactive Reserve', 'Inactive Reserve'],
                                                                  ['I dont wish to share', 'N/A'],
                                                                  ['Civilian', 'Civilian']]), { include_blank: true }) %>
          </div>
        </div>

        <div class="form-row mb-4">
          <div class="col-md-6">
            <p>Highest Education Level</p>
            <%= f.select(:education, options_for_select([['N/A', 'N/A'], 
                                                          ['Highschool or Equivilent', 'Highschool'], 
                                                          ['Some college', 'Some college'], 
                                                          ['Associates', 'Associates'], 
                                                          ['Bachelors', 'Bachelors']]), { include_blank: true }) %>
          </div>

          <div class="col-md-6">
            <p>Previous Coding Experience</p>
            <%= f.select(:experience, options_for_select([['None', 'None'], 
                                                          ['Tried it once or twice', 'Little'], 
                                                          ['Well versed in a language', 'Moderate'], 
                                                          ['Experience in the field', 'Experienced']]), { include_blank: true }) %>
          </div>
        </div>

        <div class="form-row mb-4">
          <div class="col-md-6">
            <p>Current Employment Status</p>
            <%= f.select(:employment_status, options_for_select([['Employed', 'Employed'], 
                                                                ['Unemployed', 'Unemployed']]), { include_blank: true }) %>
          </div>

          <div class="col-md-6">
            <p>Current Income</p>
            <%= f.select(:salary, options_for_select([['$15,000', '15k'],
                                                      ['$20,000', '20k'],
                                                      ['$25,000', '25k'],
                                                      ['$30,000', '30k'],
                                                      ['$35,000', '35k'],
                                                      ['$40,000', '40k'],
                                                      ['$45,000', '45k'],
                                                      ['$50,000 or higher', '> 50k']]), { include_blank: true }) %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="btn-box">
    <%= f.submit "Continue", class: 'save-student-btn' %>
  </div>
<% end %>

<script>
  let modal = document.getElementById('course-modal');
  let btn = document.getElementsByClassName('trigger')[0];
  let closeButton = document.getElementsByClassName("close-n-save")[0];

  btn.onclick = function() {
    modal.style.display = "block";
  }

  closeButton.onclick = function() {
    modal.style.display = "none";
  }

  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>















