<%= form_with(model: student, local: true) do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'form_modal' %>

  <%= render 'main_fields', f: f %>
<% end %>

<script>
  let modal = document.getElementById('course-modal');
  let btn = document.getElementsByClassName('trigger')[0];
  let closeButton = document.getElementsByClassName("close-n-save")[0];

  btn.onclick = function() {
    modal.style.display = "block";
  }

  closeButton.onclick = function() {
    modal.style.display = "none";
  }

  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>