<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="new-form-card">
    <div class="form-header"><p>Applicant Information_</p></div>
    <div class="new-student-form-fields">

      <div id="contact-info">
        <div class="form-row">
          <div class="col-md-6 mb-4">
            <p>First Name</p>
            <%= form.text_field :f_name, id: :student_f_name, class: 'form-input' %>
          </div>

          <div class="col-md-6 mb-4">
            <p>Last Name</p>
            <%= form.text_field :l_name, id: :student_l_name, class: 'form-input' %>
          </div>
        </div>

        <div class="mb-4">
          <p>Email</p>
          <%= form.text_field :email, id: :student_email, class: 'form-input' %>
        </div>

        <div class="mb-4">
          <p>Phone #</p>
          <%= form.text_field :phone, id: :student_phone, class: 'form-input' %>
        </div>
      </div>

      <div id="location">
        <div class="mb-4">
          <p>Street Address One</p>
          <%= form.text_field :address_one, id: :student_address_one, class: 'form-input' %>
        </div>

        <div class="mb-4">
          <p>Street Address Two</p>
          <%= form.text_field :address_two, id: :student_address_two, placeholder: 'Apartment #, Suite, etc.', class: 'form-input' %>
        </div>

        <div class="form-row">
          <div class="col-md-4 mb-4">
            <p>City</p>
            <%= form.text_field :city, id: :student_city, class: 'form-input' %>
          </div>

          <div class="col-md-4 mb-4">
            <p>State</p>
            <%= form.text_field :state, id: :student_state, class: 'form-input' %>
          </div>

          <div class="col-md-4 mb-4">
            <p>Zip Code</p>
            <%= form.text_field :zip, id: :student_zip, class: 'form-input' %>
          </div>
        </div>
      </div>

      <div id="select-fields">
        <div id="date-field-box">
          <div class="date-fields">
            <p>Date of Birth</p>
              <%= form.date_select :dob, 
                                    id: :student_dob, 
                                    start_year: Date.today.year - 70, 
                                    end_year: Date.today.year - 18, 
                                    order: [:month, :day, :year],
                                    include_blank: true %>
          </div>
        </div>

        <div class="form-row mb-4">
          <div class="col-md-6">
            <p>Gender</p>
            <%= form.select(:gender, options_for_select([['Female', 'Female'],
                                                          ['Male', 'Male'],
                                                          ['I dont wish to share', 'N/A']]), { include_blank: true }) %>
          </div>

          <div class="col-md-6">
            <p>Military Service</p>
            <%= form.select(:military_status, options_for_select([['Active', 'Active Duty'],
                                                                  ['Veteran', 'Veteran'],
                                                                  ['Active Reserve', 'Active Reserve'],
                                                                  ['Inactive Reserve', 'Inactive Reserve'],
                                                                  ['I dont wish to share', 'N/A'],
                                                                  ['Civilian', 'Civilian']]), { include_blank: true }) %>
          </div>
        </div>

        <div class="form-row mb-4">
          <div class="col-md-6">
            <p>Highest Education Level</p>
            <%= form.select(:education, options_for_select([['N/A', 'N/A'], 
                                                            ['Highschool or Equivilent', 'Highschool'], 
                                                            ['Some college', 'Some college'], 
                                                            ['Associates', 'Associates'], 
                                                            ['Bachelors', 'Bachelors']]), { include_blank: true }) %>
          </div>

          <div class="col-md-6">
            <p>Previous Coding Experience</p>
            <%= form.select(:experience, options_for_select([['None', 'None'], 
                                                              ['Tried it once or twice', 'Little'], 
                                                              ['Well versed in a language', 'Moderate'], 
                                                              ['Experience in the field', 'Experienced']]), { include_blank: true }) %>
          </div>
        </div>

        <div class="form-row mb-4">
          <div class="col-md-6">
            <p>Current Employment Status</p>
            <%= form.select(:employment_status, options_for_select([['Employed', 'Employed'], 
                                                                    ['Unemployed', 'Unemployed']]), { include_blank: true }) %>
          </div>

          <div class="col-md-6">
            <p>Current Income</p>
            <%= form.select(:salary, options_for_select([['20k', '20k'], ['30k', '30k']]), { include_blank: true }) %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="btn-box">
    <%= form.submit "Continue", class: 'save-student-btn' %>
  </div>
<% end %>

















