<p id="notice"><%= notice %></p>

<p>
  <strong>F name:</strong>
  <%= @student.f_name %>
</p>

<p>
  <strong>L name:</strong>
  <%= @student.l_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong>Address one:</strong>
  <%= @student.address_one %>
</p>

<p>
  <strong>Address two:</strong>
  <%= @student.address_two %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>City:</strong>
  <%= @student.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @student.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @student.zip %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @student.dob %>
</p>

<p>
  <strong>Course:</strong>
  <%= @student.course %>
</p>

<p>
  <strong>Military status:</strong>
  <%= @student.military_status %>
</p>

<p>
  <strong>Education:</strong>
  <%= @student.education %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @student.experience %>
</p>

<p>
  <strong>Employment status:</strong>
  <%= @student.employment_status %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @student.salary %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
